<header>
    <h1>LeagueOfSmash</h1>
    <nav id="nav-header">
        <form action="" id="form-name">
                <label for="" id="label-importante">
                    <input type="text" id="input-search" placeholder="Target for smashing?" autocomplete="off">
                    <div id="label-search">
                        <ul id="champion-options"></ul>
                    </div>
                </label>
        </form>
        <li><a href="/">Home</a></li>
        <li><a href="/ranking">Ranking</a></li>
    </nav>
    <img id="burger" src="/img/burger.png" alt="">
</header>