<header>
    <h1>LeagueOfSmash</h1>
    <nav id="nav-header">
        <li><a href="/">Home</a></li>
        <li><a href="/ranking">Ranking</a></li>
    </nav>
    <img id="burger" src="/img/burger.png" alt="">
</header>